<script type="text/javascript">
    RED.nodes.registerType('aws-stuttgart',{
        category: 'HomeSmartHome',
        color: '#a6bbcf',
        defaults: {
            name: {value: ''},
            street: {value: '', required: true},
            streetnr: {value: '', required: true},
            days: {value: 1}
        },
        inputs:1,
        outputs:4,
        icon: "file.png",
        paletteLabel: "AWS Stuttgart",
        label: function() {
            return this.name||"AWS Stuttgart";
        }
    });
</script>

<script type="text/x-red" data-template-name="aws-stuttgart">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-road"></i> Street</label>
        <input type="text" id="node-input-street" placeholder="Street">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-road"></i> Street Nr.</label>
        <input type="text" id="node-input-streetnr" placeholder="Street Nr.">
    </div>
    <div class="form-row">
        <label for="node-input-method"><i class="fa fa-clock-o"></i> Check Garbage collection for </span></label>
        <select type="text" id="node-input-days" style="width:70%;">
        <option value=0>today</option>
        <option value=1>tomorrow</option>
        <option value=2>2 days from today</option>
        <option value=3>3 days from today</option>
        <option value=7>one week from today</option>
        </select>
    </div>
</script>

<script type="text/x-red" data-help-name="aws-stuttgart">
    <p>Garbage Collection Schedule for Stuttgart</p>
</script>